body {
    background-color:#F2EBE9;
    margin: 0;
}


h2, h3, h4, h5 {
    font-family: serif;
    color: #7C3E66;
    font-size: 2rem;

}

#app {
    padding: 5%;
}

.header {
    background-color: #7C3E66;
    padding: 5%;
    
}
h1 {
    color: #F2EBE9;
    margin: 0;
    text-align: center;
}



p {
    font-family: sans-serif;
    color: #243A73;
}



.texto-fijo p {
    font-weight: bold;
    font-size: 2rem;
}


#textArea {
    width: 50%;
}

.textareapxm {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}

.error {
    background-color: red;
}

#reiniciar {
    padding: 2%;
    color: white;
    background-color: #7C3E66;
    font-family: sans-serif;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    
    
}

#reiniciar:active {
    background-color: white;
}


